In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
raw_data = {'col0': [1,2,3,4], 'col1':[10, 20, 30, 40], 'col2':[100, 200, 300, 400]}

In [4]:
df = DataFrame(raw_data)

In [5]:
df

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [6]:
import sqlite3

In [7]:
con = sqlite3.connect("D:/Programming/My_DB/kospi.db")

In [12]:
df.to_sql('test',con, chunksize=100)

ValueError: Table 'test' already exists.

ValueError: Table 'test' already exists.