In [3]:
total = 0
for number in range(1000,1251):
    n = number
    count = 0
    for i in range(1,n+1):
        if n%i==0:
            count = count + 1
            pass    
        pass
    if count == 2:
        print('{} is prime number'.format(n))
        total = total + 1
        pass
    pass

print(total)

1009 is prime number
1013 is prime number
1019 is prime number
1021 is prime number
1031 is prime number
1033 is prime number
1039 is prime number
1049 is prime number
1051 is prime number
1061 is prime number
1063 is prime number
1069 is prime number
1087 is prime number
1091 is prime number
1093 is prime number
1097 is prime number
1103 is prime number
1109 is prime number
1117 is prime number
1123 is prime number
1129 is prime number
1151 is prime number
1153 is prime number
1163 is prime number
1171 is prime number
1181 is prime number
1187 is prime number
1193 is prime number
1201 is prime number
1213 is prime number
1217 is prime number
1223 is prime number
1229 is prime number
1231 is prime number
1237 is prime number
1249 is prime number
36

In [5]:
a = 0
b = 1
for i in range(10):
    p = a + b
    if p == 1:
        print(a,b,end=' ')
    print(p,end=' ')
    a = b
    b = p
    pass

0 1 1 2 3 5 8 13 21 34 55 89

In [6]:
s = "Life is too short"
len(s)

17

In [9]:
s[16]

't'

In [12]:
s[-2]

'r'

In [14]:
s[0:4]

'Life'

In [16]:
"{:.2f}".format(3.14159)

'3.14'

In [18]:
line = "990001,addx,17,29,16,49,43,154,C,A,C"
print(line)
data = line.split(",")

990001,addx,17,29,16,49,43,154,C,A,C

In [24]:
data[2]+data[3]

'1729'

In [26]:
int(data[2])+int(data[3])

46

In [31]:
data

['990001', 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C']

In [30]:
for i in range(3,8):
    data[i] = int(data[i])

In [34]:
type(data[1])

str

In [35]:
for ele in data:
    print(ele)

990001
addx
17
29
16
49
43
154
C
A
C

In [60]:
m_list = [1,2,3,4,5]

In [41]:
m_list.append(6)
m_list

[1, 2, 3, 4, 50, 6]

In [49]:
del m_list[1]
m_list

[1, 3, 4, 5]

In [61]:
m_list.remove(1)

In [62]:
m_list

[2, 3, 4, 5]

In [40]:
m_list[4] = 50
m_list

[1, 2, 3, 4, 50]

In [38]:
m_list[0]

1

In [39]:
for ele in m_list:
    print(ele)

1
2
3
4
5

In [52]:
my_list = []
my_list.append(10)

In [66]:
my_list

[10]

In [65]:
if 10 in my_list:
    print('yes')
else:
    print('no')

yes

In [67]:
list_a = [23,87,1,92,34,54,20,19,3,90]
list_a

[23, 87, 1, 92, 34, 54, 20, 19, 3, 90]

In [69]:
for ele in list_a:
    print(ele)

10

In [72]:
for idx in range(len(list_a)):
    print(list_a[idx])

23
87
1
92
34
54
20
19
3
90

In [76]:
for i in range(len(list_a)-1):
    for j in range(i+1,len(list_a)):
        if list_a[i] < list_a[j]:
            temp = list_a[i]
            list_a[i] = list_a[j]
            list_a[j] = temp
        pass

In [77]:
list_a

[92, 90, 87, 54, 34, 23, 20, 19, 3, 1]

In [78]:
import random as rnd
r = rnd.randint(1,3)
print(r)

3

In [86]:
list_b = []
while True:
    r2 = rnd.randrange(100)
    if r2 not in list_b:
        list_b.append(r2)
#     print(r2,end=' ')
    if len(list_b)==10:
        break
    pass
list_b

[44, 16, 40, 42, 70, 29, 59, 95, 98, 31]

In [89]:
msg = 'hello'
number = '123456'
for letter in number:
    print(letter,end='\t')

1	2	3	4	5	6

In [90]:
hidden = rnd.randrange(1000,10000)
print(hidden)

4081

In [93]:
b = input('please input numbers >>> ')
print(int(b)+10)
print(b+str(10))

please input numbers >>> 10
20
1010